[submodule "src/buildroot"]
	path = src/buildroot
	url = https://github.com/buildroot/buildroot
[submodule "src/lcov"]
	path = src/lcov
	url = https://github.com/linux-test-project/lcov.git
[submodule "src/testhelper"]
	path = src/testhelper
	url = https://github.com/ShenChen1/testhelper.git
[submodule "src/envparser"]
	path = src/envparser
	url = https://github.com:ShenChen1/envparser.git
